@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Minimal Example</title>
</head>
<body>
<div>
      A minimalist example to show logging functionality.
</div>
</body>
</html>